
.card:hover{
    transform: translateY(-.6rem);
    transition: all 400ms ease;
  }
  .course__img{
  width: 100%;
  height: 400px; 
  }
  .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  .course-content-title{
    color: var(--text-color);
  }
  .course-content-title:hover{
    color: var(--primary-color);
  }
  .course-content__teacher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }
  .course-content__teacher-link,.course-content__teacher-icon{
    color: #6c757d;
    cursor: default;
  }
  .course-content__teacher-link,.course-box__footer-icon{
    margin-right: 0.5rem;
  }
  .course-box__footer-link {
    color: var(--primary-color);
    transition: all 400ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .course-box__footer-link:hover{
    color: var(--primary-color);
  }